@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes ken-burns {
    0% {
      transform: scale(1) translate(0, 0);
    }
    100% {
      transform: scale(1.1) translate(-2%, -2%);
    }
  }
  .animate-ken-burns {
    animation: ken-burns 20s ease-out infinite alternate;
  }
}

